<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>

    <div class="container" id="app">
        <div class="row">
            <div class="col-12 text-center">
                <p>Ganadas: {{ ganadas }}</p>
                <p>Perdidas: {{perdidas}}</p>
                <p>Empates: {{empates}}</p>
            </div>
            <div class="col-12 text-center" v-show="resultado">
                <div class="d-flex justify-content-around">
                    <p class='h3'>Eligiste: {{opcionUsuario}}</p>
                    <p class='h3'>Rival Eligio: {{opcionMaquina}}</p>
                </div>
                <h2 >{{resultado}}</h2>
            </div>
            <div class="col-12 text-center">
                <button class='btn btn-primary' @click="iniciarRonda('papel')">Papel</button>
                <button class='btn btn-primary' @click="iniciarRonda('piedra')">Piedra</button>
                <button class='btn btn-primary' @click="iniciarRonda('tijera')">Tijera</button>
            </div>
        </div>
    </div>

    <script src='./codigo.js'></script>
</body>
</html>